:root {
    --brown: #a5673f;
}

body {
    background-color: #202225;
    color: white;
}

.text-brown {
    color: var(--brown) !important;
}

.bg-brown {
    background-color: var(--brown) !important;
}

.btn.bg-brown {
    border-color: var(--brown) !important;
}

.alert.alert-danger {
    color: var(--red);
    background-color: transparent;
    border-color: var(--red);
}

.alert.alert-success {
    color: var(--green);
    background-color: transparent;
    border-color: var(--green);
}

input[type="file"] {
    display: none;
}

.render-image {
    max-width: 300px;
    max-height: 300px;
    border-radius: 5px;
}