:root {
    --bs-brown: #a5673f;
}

body {
    background-color: #202225;
    color: white;
}

.text-brown {
    color: var(--bs-brown) !important;
}

.bg-brown {
    background-color: var(--bs-brown) !important;
}

.btn.bg-brown {
    border-color: var(--bs-brown) !important;
}

.alert.alert-danger {
    color: var(--bs-red);
    background-color: transparent;
    border-color: var(--bs-red);
}

.alert.alert-success {
    color: var(--bs-green);
    background-color: transparent;
    border-color: var(--bs-green);
}

.alert.alert-secondary {
    color: var(--bs-secondary);
    background-color: transparent;
    border-color: var(--bs-secondary);
}

input[type="file"] {
    display: block;
    width: 1px;
    height: 1px;
    overflow: hidden;
    opacity: 0;
    margin-left: 120px;
}

.render-image {
    max-width: 300px;
    max-height: 300px;
    border-radius: 5px;
}

.btn .spinner-border {
    height: 1.33rem;
    width: 1.33rem;
}